<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <button ion-item>
      <img src="/storage/emulated/0/Pictures/IMG_20180531_002124.jpg" alt="" width="100" height="100">
    </button>

    <button ion-item *ngFor="let item of photos" (click)="itemTapped($event, item)">
      <img *ngIf="item.path" [src]="getPath(item.path)" alt="" width="100" height="100">
    </button>
  </ion-list>
</ion-content>
